*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F5F5F1;
}
main{
  width: 70%;
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
}
.wrap-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.text{
  margin: 40px 0;
}
.card{
  width: calc(100% / 3 - 20px);
  padding-bottom: 20px;
  margin: 0 10px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 70px;
  background-color: white;
}
img{
  width: 100%;
  margin-bottom: 20px;
}